<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Management -- Pre audit </title>
</head>
<body>

	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	<div>
		<div class="row">
			<div class="col-md-6">
				<div class="btn-group-vertical">
					<%= link_to "Department",  new_department_path %>	
					<br />
					<%= link_to "Location", new_location_path %>
					<br />
					<br />
					<%= link_to "Team", new_team_path %>
					<br />
					<br />
					<%= link_to "Role", new_role_path %>
				</div>
			</div>
		</div>
	</div>
	

</body>
</html>


