<h1>Listing mailusers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Login</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailusers.each do |mailuser| %>
  <tr>
    <td><%= mailuser.name %></td>
    <td><%= mailuser.email %></td>
    <td><%= mailuser.login %></td>
    <td><%= link_to 'Show', mailuser %></td>
    <td><%= link_to 'Edit', edit_mailuser_path(mailuser) %></td>
    <td><%= link_to 'Destroy', mailuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mailuser', new_mailuser_path %>
